{% extends "base.html" %}
{% load static %}

{% block body %}

    <script type="text/javascript">
        // START JS code here!
        
        
        
        
        // END JS code
    </script>
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">JS console</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    
    <h3>Restaurant menu</h3>
    
    <table class='table'>
        <thead>
            <tr>
                <th>name</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            <tr id="kungpao" class="spicy favorite">
                <td>Kung pao shrimp</td>
                <td>8</td>
            </tr>
            <tr id="friedwings" class="appetizer">
                <td>Fried wings (6 pc)</td>
                <td>5</td>
            </tr>
            <tr id="cornsoup" class="vegan appetizer healthy organic breakfast">
                <td>Corn soup</td>
                <td>1</td>
            </tr>
            <tr id="stirfry" class="vegan spicy organic">
                <td>Stir-fried mixed vegetables</td>
                <td>8</td>
            </tr>
            <tr id="eggplant" class="vegan spicy favorite">
                <td>Chili eggplant</td>
                <td>9</td>
            </tr>
            <tr id="rancheros" class="favorite breakfast">
                <td>Huevos rancheros</td>
                <td>8</td>
            </tr>
            <tr id="grilledchicken" class="favorite">
                <td>Grilled chicken panini</td>
                <td>11</td>
            </tr>
            <tr id="mussels" class="appetizer healthy favorite">
                <td>Steamed mussels</td>
                <td>12</td>
            </tr>
            <tr id="romaine" class="healthy organic appetizer breakfast">
                <td>Heart of romaine</td>
                <td>8</td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}